tpserver_cpp.kdevelop*
tpserver_cpp.kdevses
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
stamp-h*
libtool
libltdl/stamp-h1
*.lo
*.la
tpserver/tpserver-cpp
*.pem
*.log
tpserver/*.conf
*.o
*.loT
.libs
.deps
*~
tpserver-cpp.xml
libltdl/*
debian/*
build-stamp
shave
shave-libtool
docs/
quickstart-mtsec.conf
quickstart-risk-bid.conf
quickstart-risk-random.conf
*.db
tests/testprng

